@charset "utf-8";
/* CSS Document */
.box{
	margin: 0px auto;
	font-family: '宋体';
}
.top img{
	margin-bottom: 17px;
}
.top p{
	font-size: 14px;
	line-height: 14px;
	color: #000;
	background: url('../iamges/sanjiao.png') no-repeat left center;
	padding-left: 15px;
	margin-bottom: 22px;
}
.top p span{
	color: #999999;

}
.center{
		width: 100%;
		height: 43px;
		background-color: #EBEBEB;
		border-top: 1px solid #CDCDCD;
		border-bottom: 1px solid #CDCDCD;
}
.daohang{
	height: 43px;
}
.daohang li{
	width: 65px;
	float: left;
	font-size: 14px;
	line-height: 43px;
	text-align: center;
	width: 65px;
}
.daohang a{
	color: #000;
}
.daohang li:hover{
	height: 41px;
	color: #D50335;
	background-color: #fff;
	border-top: 3px solid #D50335;
	border-right: 1px solid #CDCDCD;
	border-left: 1px solid #CDCDCD;
	text-align: center;
	line-height: 37px;
}

.tupian li{
	float: left;
	width: 235px;
	height: 268px;
	border: 1px solid #E4E4E4;
	margin-right: 17px;
	margin-top: 30px;
}
.tupian img{
	width: ;
	margin-bottom: 19px;
}
.tupian img:hover{
	transform: scale(1.1, 1.1);
	transition: 2s;
}
.tupian .tu1{
	margin-top: 12px;
}
.tupian .tu14{
	margin: 0 60px;
}
.tupian p{
	font-size: 14px;
	margin-bottom: 7px;
	margin-left: 10px;
}
.tupian span{
	display: inline-block;
	font-size: 12px;
	line-height: 21px;
	color: #999999;
	margin-left: 10px;
	margin-right: 14px;
}
.tupian .you{
	margin-right: 0;
}
.fenye{
	float: left;
	width: 490px;
	margin: 52px auto;
}
.fenye{
	text-align: center;
	font-size: 0;
}
.fenye a{
	border-radius: 2px;
	display: inline-block;
	color: #000;
	border: 1px solid #D7D7D7;
	padding: 7px 10px;
	margin-right: 5px;
	font-size: 12px;
}
.fenye span{
	font-size: 12px;
	margin: 0 5px;
}
.fenye a:hover{
	background-color: #AD0000;
	color: #fff;
	border: 1px solid #AD0000;
}
.dibu{
	float: left;
	width: 100%;
	height: 140px;
	background-color: #FBFBFB;
	padding-top: 20px;
}
.dibu li{
	font-size: 12px;
	color: #666666;
	line-height: 30px;
	text-align: center;
}